@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 172, 206, 123;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@font-face {
  font-family: "PoppinsRegular";
  src: url("../../assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CodecProBold";
  src: url("../../assets/fonts/Codec-Pro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

* {
  @apply m-0 p-0 box-border;
  font-family: "PoppinsRegular", sans-serif;
}
body {
  background-image: url("/img/green-background.png");
}

.h2ssssss {
  @apply text-3xl mb-10 text-center uppercase;
  @apply md:mb-14;
}

h2 {
  background-image: url("/img/green-background.png");
  @apply text-3xl mb-10 text-center uppercase;
  @apply md:mb-14;
}

.containerBasesssss {
  @apply md:px-10;
  @apply lg:px-20;
  @apply 2xl:px-96;
}

.sectionsssss {
  /* @apply p-10; */
  @apply px-10 pt-32;
  @apply lg:py-32;
  @apply 2xl:py-32;
  @apply containerBasesssss;
  @apply bg-white;
}

section {
  @apply bg-white;
  @apply md:mx-10;
  @apply lg:mx-20;
  @apply 2xl:mx-80;
  /* 2xl:p-16; */
}

section article {
  @apply 2xl:px-16 2xl:pt-8 2xl:pb-16;
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
