.container {
  @apply relative w-full h-[100vh];
}

.mainImgContainer {
  @apply inset-0 w-full h-full overflow-hidden;
}

.coverUnderFigBase {
  @apply absolute bottom-0 left-0 w-full h-full bg-black;
  background-image: url("/img/green-background.png");
  background-size: cover; /* Para que la imagen cubra el área*/
  background-repeat: no-repeat; /* Evita que la imagen se repitas*/
  background-position: center; /* Centra la imagen*/
}

.coverUnderFigMobile {
  @apply coverUnderFigBase;
  clip-path: polygon(0% 100%, 0% 50%, 100% 100%);
}

.coverUnderFigWeb {
  @apply coverUnderFigBase;
  clip-path: polygon(0% 100%, 0% 50%, 50% 100%);
}

.logoContainer {
  @apply absolute bottom-10 left-5 w-[70%];
  @apply xl:w-[35%];
  @apply 2xl:w-[30%];
}
